@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="HomeCtrl">

    <!-- Slider -->
    <div class="container cat-slider-container">
        <div id="side-category-container">
            <div id="side-category" class="slim-scroll"></div>
        </div>
        <div class="home-slider slider">
            <div class="dummy-item-loader hom-slider-loader">
                <div class="grid-item">
                    <div class="dum-item">
                        <div class="dum-prod-item"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Category image -->
    <br />
    <div class="container">
        <div id="homepage-category-image" class="slider"></div>
    </div>

    <!-- New arrivals items -->
    <br />
    <div class="container home-page">
        <div class="home-section-title section-title-bg">
            <h2>New Arrivals</h2>
        </div>
        <div class="homepage-section-container-slick clearfix">
            <div id="homepage-container-newarrival" class="slider">
                <div class="dummy-item-loader">
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Popular items -->
    <br />
    <br />
    <div class="container home-page">
        <div class="home-section-title section-title-bg">
            <h2>Popular Items</h2>
        </div>
        <div class="homepage-section-container-slick clearfix">
            <div id="homepage-container-popular" class="slider">
                <div class="dummy-item-loader">
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Featured items -->
    <br />
    <br />
    <div class="container home-featured-item-pad">
        <div class="home-section-title">
            <div>
                <h2 style="padding-left: 15px;">Featured Items</h2>
            </div>
        </div>
        <div class="homepage-section-container">
            <div id="homepage-container-featured" class="clearfix">
                <div class="dummy-item-loader">
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="dum-item">
                            <div class="dum-prod-item"></div>
                            <div class="dum-load-con">
                                <div class="dum-load-1"></div>
                                <div class="dum-load-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- View more -->
    <div class="center load-more-container">
        <a href="/Product/Search?cat=0">
            <span class="btn-load-more">VIEW MORE</span>
        </a>
    </div>
</div>