<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contatct-form">
                    <div class="container" style="padding-left: 0;">
                        <div class="m-t-md">
                            <h3 class="classic-title"><span>Blog</span></h3><br />
                            <div class="panel wrapper b-a text-md">
                                <p>Lorem ipsum luctus convallis augue venenatis rutrum elementum, vitae taciti donec duis habitasse risus, adipiscing suspendisse torquent consequat proin hac erat hac molestie etiam condimentum tristique, lobortis est himenaeos semper donec, viverra at gravida ac.</p>
                                <br />
                                <p>Lorem ipsum luctus convallis augue venenatis rutrum elementum, vitae taciti donec duis habitasse risus, adipiscing suspendisse torquent consequat proin hac erat hac molestie etiam condimentum tristique, lobortis est himenaeos semper donec, viverra at gravida ac.</p>
                                <br />
                                <p>
                                    Luctus phasellus pellentesque odio habitasse potenti duis nisl suspendisse platea elit nullam sem suscipit, consectetur sagittis sociosqu imperdiet morbi nibh rhoncus id porta posuere fames donec eu praesent vel condimentum libero pellentesque adipiscing posuere ultricies tristique ligula neque.
                                </p>
                                <br />
                                <p>
                                    Luctus phasellus pellentesque odio habitasse potenti duis nisl suspendisse platea elit nullam sem suscipit, consectetur sagittis sociosqu imperdiet morbi nibh rhoncus id porta posuere fames donec eu praesent vel condimentum libero pellentesque adipiscing posuere ultricies tristique ligula neque.
                                </p>
                                <br />
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>