<style type="text/css">
    .header-icon-menu li {
        border: 0 !important;
    }

    .header-icon-menu li {
        width: initial !important;
        text-align: left !important;
    }

    .mega-menu {
        padding: 10px 0px !important;
        width: 650px !important;
        border-radius: 0;
        margin-top: 5px;
    }
    .mega-menu li {
        display: inline-block;
        float: left;
        font-size: 0.94rem;
        padding: 3px 0px;
    }
    .mega-menu li.mega-menu-column {
        margin-right: 10px;
        width: 190px !important;
    }
        .mega-menu .nav-header {
            padding: 5px !important;
            padding-left: 0 !important;
            display: inline-block;
            font-family: Arial !important;
            font-size: 14px !important;
            font-weight: 600;
            padding-bottom: 0 !important;            
        }

    .mega-menu .nav-header:hover {
        text-decoration: underline;
    }  

    .mega-menu-column ul{
        display:grid !important;
        margin-left: 10px !important;
    }

    .mega-menu-column li {
        padding: 0 !important;
    }
    .mega-menu-column a {
        padding: 2px !important;        
        color: #444 !important;
        font-family: Arial !important;
    }

        .mega-menu-column a:hover {
            text-decoration: underline;
        }
    .dropmenu-cat-text{
        font-size: 14px !important;
    }

</style>

<section class="top-cat-menu" style="border-bottom: 1px solid #dcdcdc; background-color:#fff; margin-bottom: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div style="padding:0px;">
                    <div class="row">
                        <div class="col-md-12">                           
                            <div>
                                <nav class="menu home-page-menu" style="">
                                    <ul class="header-icon-menu active" style="padding:5px;">
                                        
                                        <li class="dropdown top-cat-menu-header" style="border-right:1px solid #dcdcdc;padding-left: 0 !important;position: relative;left: -5px; width: 150px !important;">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <img src="/Images/list.png" style="height:20px;" />
                                                <span style="margin-left:5px;">Categories</span>
                                                <img src="/Images/down_arrow.png" style="height: 15px; margin-left: 5px;" />
                                            </a>

                                            <div class="dropdown-menu mega-menu top-cat-menu-container" style="display:none;">


                                                <ul>

                                                    <li class="mega-menu-column">
                                                        <ul>
                                                            <li class="nav-header"><a class="dropmenu-cat-text" href="/Product/Search?cat=1">Car & Bikes</a></li>
                                                            <li><div><a href="/Product/Search?cat=18">Cars</a></div></li>
                                                            <li><a href="/Product/Search?cat=19">Motorbikes & Scooters</a></li>
                                                            <li><a href="/Product/Search?cat=20">Bicycles & Three Wheelers</a></li>
                                                            <li><a href="/Product/Search?cat=21">Bus & Trucks</a></li>                                                            
                                                        </ul>
                                                        <ul>                                                            
                                                            <li class="nav-header"><a class="dropmenu-cat-text" href="/Product/Search?cat=15">Electronics</a></li>
                                                            <li><a href="/Product/Search?cat=53">TV</a></li>
                                                            <li><a href="/Product/Search?cat=52">Refrigerators</a></li>
                                                            <li><a href="/Product/Search?cat=54">Air Condition</a></li>
                                                            <li><a href="/Product/Search?cat=56">Cameras</a></li>
                                                        </ul>
                                                        <ul>                                                            
                                                            <li class="nav-header"><a class="dropmenu-cat-text" href="/Product/Search?cat=9">Health & Beauty</a></li>
                                                            <li><a href="/Product/Search?cat=31">Beauty Products</a></li>
                                                            <li><a href="/Product/Search?cat=32">Fitness & Sports</a></li>
                                                            <li><a href="/Product/Search?cat=33">Fragrances</a></li>
                                                            <li><a href="/Product/Search?cat=34">Health Care</a></li>
                                                        </ul>
                                                    </li>

                                                    <li class="mega-menu-column">
                                                        <ul>
                                                            <li class="nav-header"><a class="dropmenu-cat-text"  href="/Product/Search?cat=2">Mobile Phones</a></li>
                                                            <li><a href="/Product/Search?cat=37">Mobile Phones</a></li>
                                                            <li><a href="/Product/Search?cat=38">Mobile Phone Accessories</a></li>
                                                            <li><a href="/Product/Search?cat=39">SIM Cards</a></li>
                                                            <li><a href="/Product/Search?cat=40">Head Phones</a></li>
                                                        </ul>
                                                        <ul>
                                                            <li class="nav-header"><a class="dropmenu-cat-text" href="/Product/Search?cat=14">Properties</a></li>
                                                            <li><a href="/Product/Search?cat=26">Apartments & Flats</a></li>
                                                            <li><a href="/Product/Search?cat=27">Houses</a></li>
                                                            <li><a href="/Product/Search?cat=28">Land & Plots</a></li>
                                                            <li><a href="/Product/Search?cat=29">Commercial Space</a></li>
                                                        </ul>
                                                        <ul>
                                                            <li class="nav-header"><a class="dropmenu-cat-text" href="/Product/Search?cat=17">Cloth & Shoes</a></li>
                                                            <li><a href="/Product/Search?cat=80">Mens Wear</a></li>
                                                            <li><a href="/Product/Search?cat=81">Womens Wear</a></li>
                                                            <li><a href="/Product/Search?cat=82">Childrens Wear</a></li>
                                                            <li><a href="/Product/Search?cat=83">Mens Shoes</a></li>
                                                        </ul>
                                                    </li>

                                                    <li class="mega-menu-column">
                                                        <ul>
                                                            <li class="nav-header"><a class="dropmenu-cat-text"  href="/Product/Search?cat=3">Computer & Laptops</a></li>
                                                            <li><a href="/Product/Search?cat=42">Laptops & Netbooks</a></li>
                                                            <li><a href="/Product/Search?cat=43">Desktops</a></li>
                                                            <li><a href="/Product/Search?cat=44">Printer & Scaner</a></li>
                                                            <li><a href="/Product/Search?cat=45">Mouse & Keyboard</a></li>
                                                        </ul>
                                                        <ul>                                                            
                                                            <li class="nav-header"><a class="dropmenu-cat-text" href="/Product/Search?cat=5">Home & Living</a></li>
                                                            <li><a href="/Product/Search?cat=60">Furniture</a></li>
                                                            <li><a href="/Product/Search?cat=61">Home Appliances</a></li>
                                                            <li><a href="/Product/Search?cat=62">Kitchen Items</a></li>
                                                            <li><a href="/Product/Search?cat=64">Baby & Toys</a></li>
                                                        </ul>
                                                        <ul>
                                                            <li class="nav-header"><a class="dropmenu-cat-text" href="/Product/Search?cat=11">Pets & Animal</a></li>
                                                            <li><a href="/Product/Search?cat=76">Pets</a></li>
                                                            <li><a href="/Product/Search?cat=77">Animals</a></li>
                                                            <li><a href="/Product/Search?cat=78">Pets Food & Accessories</a></li>
                                                            <li><a href="/Product/Search?cat=79">Others</a></li>
                                                        </ul>
                                                    </li>


                                                </ul>

                                                <div style="margin-top:15px; padding:10px; padding-top:5px; border-top:1px solid #dcdcdc;">
                                                    <div style="float:right;"><a href="/Product/Search?cat=0&loc=0&search=">See all categories</a></div>
                                                </div>

                                            </div>

                                        </li><!-- /.dropdown -->

                                        <li onclick="location.href = '/Product/Search?cat=1';" style="border-left:1px solid #dcdcdc;">
                                            <a href="/Product/Search?cat=1">Car & Bikes</a>
                                        </li>
                                        <li onclick="location.href = '/Product/Search?cat=2';">
                                            <a href="/Product/Search?cat=2">Mobiles Phones</a>
                                        </li>
                                        <li onclick="location.href = '/Product/Search?cat=3';">
                                            <a href="/Product/Search?cat=3">Computers</a>
                                        </li>
                                        <li onclick="location.href = '/Product/Search?cat=15';">
                                            <a href="/Product/Search?cat=15">Electronics</a>
                                        </li>
                                        <li onclick="location.href = '/Product/Search?cat=14';">
                                            <a href="/Product/Search?cat=14">Properties</a>
                                        </li>
                                        <li onclick="location.href = '/Product/Search?cat=13';">
                                            <a href="/Product/Search?cat=13">Find Jobs</a>
                                        </li>
                                        <li onclick="location.href = '/Product/Search?cat=12';">
                                            <a href="/Product/Search?cat=12">Services</a>
                                        </li>
                                        <li onclick="location.href = '/Product/Search?cat=11';">
                                            <a href="/Product/Search?cat=11">Pets</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>